body{
    background-image: url("calimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
*{
    box-sizing: border-box;
}
.wrap{
    margin-top: 220px;
    margin-left: 400px;
    width: 400px;
    /* margin: auto; */
    height: auto;
    background: linear-gradient(#4adede,#0b0742);
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}
input[type=text]
{
    width: 100%;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
}
input[type=button]
{
    width: 89px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
}
#del{
    width: 100%;
}
@media only screen and (max-width:750px){
    .wrap{
        display: grid;
        padding: 15px;
        width: 450px;
    }
}